
.maincontainerBookPage{
  margin-top: 15px;
  padding-bottom: 35px;
  display: flex;
}
.imagediv{
  padding-right: 10px;
  padding-left: 45px;
  width:25;
}
.descriptiondiv{
  padding-left: 20px;
  padding-right: 30px;
  width: 50%;
}
.buybook{
  float:right;
  clear:both;
  padding-top: 10px;
  width: 30%;
  padding-left: 10px;
  padding-right: 40px;
  border: 2px grey solid;
  border-radius: 8px;
}
#bookauthor:link{
  color:#008ac4;
  text-decoration: none;
}
#bookauthor:hover{
  color:#ebae34;
  text-decoration: underline;
}
#titleandrelease{
  font-size: 25px;
}
#booktitle{
  font-weight: bold;
  color: black;
}
#bookrelease{
  opacity: 0.7;
}
#bookAvgRating{
 font-size:30px; 
 margin-top:13px; 
 display:block;
}
#buyingInfo{ 
  height: 300px;
}
#bookprice{
  font-size: 18px;
  margin-left: 15px;
  color: #f54242;
}
.infobuybuttons{
  border-radius: 5px;
  font-weight: bold;
  border-color: #f58d42;
  width: 100%;
  height: 35px;
  margin-left: 10px;
}
.infobuybuttons:hover{
  cursor: pointer;
}
#cartbutton{
  background-color: #f5d742;
  font-weight: bold;
  color: black;
}
#cartbutton:hover{
  background-color: #f5bf42;
  transition: all 0.5s ease-in;
}
#cartimage{
  margin-top: -3px;
  float: left;
}
#buybutton{
  margin-top: 25px;
  background-color: #f5b342;
  font-weight: bold;
  color: black;
}
#buybutton:hover{
  background-color: #f59c42;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
}
#buyimage{
  margin-top: -3px;
  float: left;
}

.otherbooks{
  padding-left: 35px;
  padding-right: 35px;
  transform: perspective(900px);
  transform-style: preserve-3d;
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
}

.bookdetails{
  clear:both;
  padding-left: 35px;
  padding-right: 35px;
}

.bookreviews{
  padding-left: 35px;
  padding-right: 35px;
}
.reviewtablediv{
  float: left;
  width: 50%;
}
.reviewCol{
  width:50%;
  border-bottom: 1px solid #e3e3e3;
}

.noReviewToDisplay{
  font-weight:bold;
  font-size:20px;
  color:grey;
}

.writereview{
  width: 50%;
  float: left;
}
#userReview{
  margin-left: 5px;
  margin-right: 35px;
  width: 350px;
  height:150px;
  float:left;
  overflow: auto;
  border: 1px solid black;
  margin-bottom:15px;
}
#userReview:hover{
  border: 1px solid #ff9233;
  transition: .3s ease-in;
  -webkit-transition: .3s ease-in;
  -moz-transition: .3s ease-in;
  -ms-transition: .3s ease-in;
  
}
#userReview:focus{
  outline: 0 none !important;
  border: 1px solid #ff9233;
}
#reviewbutton{
  pointer-events:none;
  display: block;
  width:180px;
  height:60px;
  background:none;
  color:black;
  border: 1px solid #f58d42;
  font-size: 16px;
  border-radius: 4px;
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  overflow: hidden;
}
#reviewbutton:focus{
  outline:none;
}
#reviewbutton:before{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,.5);
  width: 60px;
  height: 100%;
  left:0;
  top:0;
  opacity:.5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
#reviewbutton:after{
  content: '';
  display: block;
  position: absolute;
  background:rgba(255,255,255,.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top:0;
  opacity: 0;
  filter: blur(30px);
}
#reviewbutton:hover{
  background: #f58d42;
  cursor: pointer;
  color:white;
}
#reviewbutton:hover:before{
  transform:translateX(240px) skewX(-15deg);
  opacity: .6;
  transition: .7s;
  -webkit-transition:.7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
}
#reviewbutton:hover:after{
  transform:translateX(240px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
  -webkit-transition:.7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
}

#clear{
  clear: both;
}

/*Used for the six recommended books, since contentflow isn't able to take actions*/
#card1{
    margin-left: 125px;
}
.card{
    float:left;
    display: inline-block;
    text-align: center;
    background: white;
    width:150px;
    height:250px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:25px;
    transition:.6s;
    -webkit-transition:.6s;
    -moz-transition:.6s;
    -ms-transition:.6s;
    transform:rotateX(75deg) translateY(-200px) translateZ(-100px);
    -webkit-transform:rotateX(75deg) translateY(-200px) translateZ(-100px);
    -moz-transform:rotateX(75deg) translateY(-200px) translateZ(-100px);
    -ms-transform:rotateX(75deg) translateY(-200px) translateZ(-100px);
    box-shadow: 0px 20px 60px rgba(0,0,0, 0.5);
}
.card:hover{
    transform: rotateX(0deg);
    -webkit-transform:rotateX(0deg);
    -moz-transform:rotateX(0deg);
    -ms-transform:rotateX(0deg);
    transform: rotateZ(0deg);
    -webkit-transform:rotateZ(0deg);
    -moz-transform:rotateZ(0deg);
    -ms-transform:rotateZ(0deg);
    transition:.6s;
    -webkit-transition:.6s;
    -moz-transition:.6s;
    -ms-transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}
.card h4{
    font-size:10px;
    color:black;
}
.card img{
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
}
.card #priceRecBook{
    font-size:12px;
    color:red;
}
.card #crossListPrice{
    color:black;
    text-decoration:line-through;
    font-size:15px;
}
.card #priceRecBookNum{
    font-weight:bold;
    font-size:15px;
}

#validTextarea{
    color:green;
    font-weight:bold;
    display:none;
}
#unvalidTextarea{
    color:red;
    font-weight:bold;
    display:inline-block;
}
#missingRating{
    color:red;
    font-weight:bold;
    display:block;
}
/*Used to display smaller screens, to display in a nicer format*/
@media (max-width: 780px) {
    .reviewtablediv{
      width:40%;
    }
    .reviewCol{
      width:40%;
    }
    .noReviewToDisplay{
      font-size:15px;
    }
    
    .writereview{
      width: 60%;
    }
    
    #userReview{
       width: 270px;
       height:125px;
    }
    
}

@media (max-width: 700px) {
    .maincontainerBookPage{
       margin-top: 15px;
       padding-bottom: 35px;
       display:block;
    }
    .imagediv{
        padding-right: 10px;
        padding-left: 45px;
        clear:both;
        display:block;
    }
    .descriptiondiv{
       clear:both;
       width: 100%;
       padding-left: 20px;
       padding-right: 30px;
    }
    .buybook{
        clear:both;
        display:block;
        margin-top: 10px;
        margin-bottom: 25px;
        margin-right: 25px;
        width:90%;
    }
    #buyingInfo{ 
      height: 200px;
    }
    .otherbooks{
        padding-top: 15px;
    }
    #card1,#card3,#card5{
        margin-left:80px;
    }
}

@media (max-width: 1000px) {
    #reviewbutton{
      width:110px;
      height:40px;
      font-size: 12px;
      margin-left: 25px;
    }
    .card{
        width:125px;
        height:225px;
    }
    .card h4{
        font-size:15px;
    }
    .card #priceRecBook{
        font-size:10px;
    }
    .card #crossListPrice{
        font-size:12px;
    }
    .card #priceRecBookNum{
        font-size:12px;
    }
}

@media (max-width: 499px) {
    #bookAvgRating{
        font-size:25px;
        margin-top:17px;
    }
    .bookreviews{
       padding-left: 10px;
       padding-right: 10px;
    }
    .bookdetails{
       padding-left: 10px;
       padding-right: 10px;
    }
    #userReview{
        width:210px;
    }
    #validTextarea{
        font-size:10px;
    }
    #unvalidTextarea{
        font-size:10px;
    }
    #missingRating{
        font-size:10px;
    }
    .card{
        width:105px;
        height:205px;
    }
    .card h4{
        font-size:8px;
    }
    .card #priceRecBook{
        font-size:8px;
    }
    .card #crossListPrice{
        font-size:9px;
    }
    .card #priceRecBookNum{
        font-size:9px;
    }
    #card1,#card3,#card5{
        margin-left:30px;
    }
}

@media (max-width:320px){
    #userReview{
        width:180px;
    }
    #validTextarea{
        font-size:8px;
    }
    #unvalidTextarea{
        font-size:8px;
    }
    #missingRating{
        font-size:8px;
    }
    .card{
        width:100px;
        height:200px;
    }
    #card1,#card3,#card5{
        margin-left:10px;
    }
    #card2,#card4,#card6{
        margin-right:10px;
    }
}