<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 
        <div class="container">
            <h2>#{msgs.manageSurveys}</h2>
            <h:form>
                

                    <h:inputText id="questionText" 
                                 value="#{surveyBackBean.questionText}"
                                 required="true"
                                 requiredMessage="#{msgs.required}"
                                 a:placeholder="#{msgs.addQuestionHint}"
                                 style="width:400px">
                        <f:validateLength maximum="100" />
                        <f:ajax event="blur" render="questionTextError" />
                    </h:inputText>
                    <h:message id="questionTextError" for="questionText" style="color:red" />


                    <h:commandLink
                        action="#{surveyBackBean.addQuestion()}"
                        styleClass="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                    </h:commandLink>
                
            </h:form>
            <h:form>
                <p:dataTable value="#{questionsJpaController.findQuestionsEntities()}" 
                             var="ques"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                             rowsPerPageTemplate="5,10"
                             rows="5">                    
                    <p:column>
                        <f:facet name="header">#{msgs.questionText}</f:facet>
                        <h:commandLink                            
                            action="#{surveyBackBean.editQuestion(ques.id)}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </h:commandLink>
                        <h:commandLink                            
                            action="#{surveyBackBean.deleteQuestion(ques.id)}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </h:commandLink>
                        #{ques.questionText}
                    </p:column>                    
                    <p:column style="width:80px;">
                        <f:facet name="header">#{msgs.activate}</f:facet>
                        <h:commandLink
                            action="#{questionsJpaController.activateQuestion(ques.id)}"
                            styleClass= "#{ques.isActive? 'btn btn-success' : 'btn btn-default'}">
                            <i class="glyphicon glyphicon-ok-circle"></i>
                        </h:commandLink>
                    </p:column>
                    <p:column>
                        <f:facet name="header">#{msgs.answerContent}</f:facet>


                        <p:dataTable value="#{ques.answersList}" 
                                     var="answer">
                            <p:column>
                                <h:commandLink                            
                                    action="#{surveyBackBean.editAnswer(answer.id)}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </h:commandLink>
                                <h:commandLink                            
                                    action="#{surveyBackBean.deleteAnswer(answer.id)}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </h:commandLink>
                                #{answer}
                            </p:column>
                        </p:dataTable>
                        
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>
    </h:body>
</html>
