<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body> 
        <div class="container">
            <h2>#{surveyBackBean.answers.questionId.questionText} </h2>       


            <h:form>
                <h:panelGrid columns="1" cellpadding="1" border="0" cellspacing="10"
                             title="#{msgs.answerContent}">
                    <f:facet name="header">
                        <h:outputText value="#{msgs.answerContent}" />
                    </f:facet>                  

                    
                    
                    <h:inputText id="answerText" 
                                 value="#{surveyBackBean.answers.answerText}"
                                 required="true"
                                 requiredMessage="#{msgs.required}"                                 
                                 style="width:300px">
                        <f:validateLength maximum="50" />
                        <f:ajax event="blur" render="answerTextError" />
                    </h:inputText>
                    <h:message id="answerTextError" for="questionText" style="color:red" />

                    <h:commandLink
                        action="#{surveyBackBean.saveAnswer()}"
                        styleClass="btn btn-primary">
                        <i class="glyphicon glyphicon-edit"></i>
                    </h:commandLink>
                </h:panelGrid>
            </h:form>


        </div>
    </h:body>
</html>
