<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui" >
    <div class="container">
        <h2>#{msgs.managentSite}</h2>
        <div class="list-group">
            <a href="topSellers.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.topSellers}</h4>
                <p class="list-group-item-text">#{msgs.topSellersDesc}</p>
            </a>
            <a href="topClients.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.topClients}</h4>
                <p class="list-group-item-text">#{msgs.topClientsDesc}</p>
            </a>
            <a href="zeroSales.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.zeroSales}</h4>
                <p class="list-group-item-text">#{msgs.zeroSalesDesc}</p>
            </a>
            <a href="stockReport.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.stockReport}</h4>
                <p class="list-group-item-text">#{msgs.stockReportDesc}</p>
            </a>
            <a href="totalSales.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.totalSaless}</h4>
                <p class="list-group-item-text">#{msgs.totalSalessDesc}</p>
            </a>
            <a href="salesByAuthor.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.salesByAuthor}</h4>
                <p class="list-group-item-text">#{msgs.salesByAuthorDesc}</p>
            </a>
            <a href="salesByPublisher.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.salesByPublisher}</h4>
                <p class="list-group-item-text">#{msgs.salesByPublisherDesc}</p>
            </a>
            <a href="salesByClient.xhtml" class="list-group-item">
                <h4 class="list-group-item-heading">#{msgs.salesByClient}</h4>
                <p class="list-group-item-text">#{msgs.salesByClientDesc}</p>
            </a>
        </div>
        <p:sidebar widgetVar="sidebar1" baseZIndex="10000">
            <h1 style="font-weight:normal">Manager Menu</h1>
            <div class="list-group">
                <a href="addBook.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.addBook}</h5>
                </a>

                <a href="editBook.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.editBook}</h5>
                </a>

                <a href="manageSales.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.manageSales}</h5>
                </a>

                <a href="manageClients.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.manageClients}</h5>
                </a>

                <a href="manageOrders.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.manageOrders}</h5>
                </a>

                <a href="manageBannerAds.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.manageBannerAds}</h5>
                </a>

                <a href="manageNewsFeed.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.manageNewsFeed}</h5>
                </a>

                <a href="manageSurveys.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.manageSurveys}</h5>
                </a>

                <a href="manageReviews.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.manageReviews}</h5>
                </a>

                <a href="topSellers.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.topSellers}</h5>
                </a>

                <a href="topClients.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.topClients}</h5>
                </a>

                <a href="zeroSales.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.zeroSales}</h5>
                </a>

                <a href="stockReport.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.stockReport}</h5>
                </a>

                <a href="totalSales.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.totalSaless}</h5>
                </a>

                <a href="salesByAuthor.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.salesByAuthor}</h5>
                </a>

                <a href="salesByPublisher.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.salesByPublisher}</h5>
                </a>

                <a href="salesByClient.xhtml" class="list-group-item">
                    <h5 class="list-group-item-heading">#{msgs.salesByClient}</h5>
                </a>
            </div>
            <p:commandButton value="Cancel" oncomplete="PF('sidebar1').hide()"/>

        </p:sidebar> 
        <p:commandButton class="btn btn-default" value="#{msgs.managerMenu}" icon="pi pi-arrow-right" oncomplete="PF('sidebar1').show()" />
    </div>
</ui:composition>
