<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces" />
    <h:body> 
        <div class="container">
            <h2>#{msgs.manageReviews}</h2>
            <br/>
            <h:form id="reviewForm">
                <p:growl id="growl" showDetail="true"/>
                <h:panelGroup>
                    <p:dataTable value="#{reviewsJpaController.findReviewsEntities()}" 
                                 var="review" id="datatable" widgetVar="reviewTable">
                        <p:ajax event="sort" skipChildren="false" />
                        <p:column>
                            <f:facet name="header">#{msgs.id}</f:facet>
                                #{review.id}
                        </p:column>
                        <p:column colspan="2">
                            <f:facet name="header">#{msgs.username}</f:facet>
                                #{review.userId.firstName}  #{review.userId.lastName}
                        </p:column>
                        <p:column colspan="3">
                            <f:facet name="header">#{msgs.reviewText}</f:facet>
                                #{review.reviewText}
                        </p:column>
                        <p:column colspan="2">
                            <f:facet name="header">#{msgs.title}</f:facet>
                                #{review.isbn.title}
                        </p:column>
                        <p:column filterBy="#{review.isApproved}" filterStyle="display:none" filterMatchMode="contains">
                            <f:facet name="header">#{msgs.isApproved}</f:facet>
                                #{review.isApproved}
                        </p:column>
                        <p:column>
                            <f:facet name="header">#{msgs.approve}/#{msgs.disApprove}</f:facet>
                            <p:commandButton id="approveBtn" icon="#{!review.isApproved? 'pi pi-check':'pi pi-times'}"
                                             actionListener="#{reviewsJpaController.approveReview(review.id,review.isApproved)}"
                                             styleClass= "btn btn-primary" update="datatable reviewForm:growl">
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </h:form>
        </div>
    </h:body>
</ui:composition>
