<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <div class="container">

        <h2>#{msgs.manageOrders}</h2>

<!--        <div class="row">
            <div class="col-xs-12 col-xs-updated">
                <h:form styleClass="form-horizontal">
                    <div class="form-group">

                        <div class="col-sm-10">
                            <h:inputText value="#{saleBean.searchTerm}" a:placeholder="#{msgs.searchBy}" styleClass="form-control">
                                <f:ajax event="keyup" execute="@form" listener="#{saleBean.findSaleSearchTerm()}" render="ordersForm"/>
                            </h:inputText>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>-->

        <h:form id="ordersForm">
            <p:growl id="growl" showDetail="true"/>
            <p:dataTable value="#{saleBean.salesList}" 
                         var="sale"
                         id="datatable"
                         widgetVar="orderTable" 
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                         rowsPerPageTemplate="1,5,10,30,50"
                         rows="5">
                <f:facet name="header">
                    <p:outputPanel>
                        <h:outputText value="#{msgs.search}:" />
                        <p:inputText id="globalFilter" onkeyup="PF('orderTable').filter()" style="width:350px" placeholder="#{msgs.enterUserName}"/>
                    </p:outputPanel>
                </f:facet>

                <p:columnGroup type="header">
                    <p:row>
                        <p:column rowspan="2" headerText="User name" />
                        <p:column colspan="3" headerText="Order Information" />
                    </p:row>
                    <p:row>
                        <p:column filterBy="#{sale.usersId.firstName}" filterMatchMode="contains" filterStyle="display:none" headerText="#{msgs.price}" />
                        <p:column filterBy="#{sale.usersId.firstName}" filterMatchMode="contains" filterStyle="display:none" headerText="#{msgs.title}" />
                        <p:column headerText="#{msgs.removeBook2}" />
                    </p:row>
                </p:columnGroup>                    
                <p:subTable value="#{sale.soldBooksList}" 
                            var="soldBook">
                    <f:facet name="header">
                        <h:outputText value="id: #{sale.id} &#160;&#160; 
                                      #{msgs.username}: #{sale.usersId.firstName} #{sale.usersId.lastName} - "/>
                        <h:outputText value="#{sale.date}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </f:facet>

                    <p:column>
                        <f:facet name="filter">
                        </f:facet> 
                    </p:column>
                    <p:column>
                        <h:outputText value="#{soldBook.price} $"/>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{soldBook.booksIsbn.title}" />
                    </p:column>
                    <p:column>
                        <p:commandButton title="Remove Entire Order" actionListener="#{saleBean.markSaleRemoved(sale.id)}"
                                         styleClass="btn btn-danger" update=":ordersForm:datatable :ordersForm:growl">
                        </p:commandButton>
                    </p:column>
                    <p:columnGroup type="footer">
                        <p:row>
                            <p:column footerText="Totals: " style="text-align:right"/>
                            <p:column footerText="#{sale.soldBooksList.stream().map(sb->sb.price).sum()} $" />
                            <p:column/><p:column/>
                        </p:row>
                    </p:columnGroup>
                </p:subTable>
            </p:dataTable>
        </h:form>

    </div>

</ui:composition>
