<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <div class="container">
        <h2>#{msgs.manageBannerAds}</h2>
        <div class="container">
            <h:form>
                <p:panelGrid columns="3">
                    <h:outputLabel for="imageUrl" value="#{msgs.imageUrl}"/>
                    <h:inputText id="imageUrl" 
                                 value="#{advertismentsBackingBean.imageUrl}"
                                 required="true"
                                 requiredMessage="#{msgs.required}"

                                 style="width:400px">
                        <f:validateLength maximum="1000" />
                        <f:ajax event="blur" render="imageUrlError" />
                    </h:inputText>
                    <h:message id="imageUrlError" for="imageUrl" style="color:red" />

                    <h:outputLabel for="link" value="#{msgs.link}"/>
                    <h:inputText id="link" 
                                 value="#{advertismentsBackingBean.link}"
                                 required="true"
                                 requiredMessage="#{msgs.required}"

                                 style="width:400px">
                        <f:validateLength maximum="1000" />
                        <f:ajax event="blur" render="linkError" />
                    </h:inputText>
                    <h:message id="linkError" for="link" style="color:red" />

                    <h:commandLink
                        action="#{advertismentsBackingBean.addAdvertisment()}"
                        styleClass="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                    </h:commandLink>
                </p:panelGrid>
            </h:form>
            <h:form id="Advertisment">
                <p:growl id="formMsgs" showDetail="true"/>
                <p:dataTable value="#{advertismentsBackingBean.advertismentsList}" 
                             var="advertisments"
                             paginator="true"
                             editable="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                             rowsPerPageTemplate="5,10"
                             rows="5">

                    <p:ajax event="rowEdit" listener="#{advertismentsBackingBean.onRowEdit}" update=":Advertisment:formMsgs" />
                    <p:ajax event="rowEditCancel" listener="#{advertismentsBackingBean.onRowCancel}" update=":Advertisment:formMsgs" />
                    <p:column style="width:50px">
                        <p:rowEditor />                        
                    </p:column>
                    <p:column headerText="#{msgs.imageUrl}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{advertisments.imageUrl}" /></f:facet>
                            <f:facet name="input"><p:inputText id="imageUrl" value="#{advertisments.imageUrl}" style="width:100%"/></f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column headerText="#{msgs.link}">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{advertisments.link}" /></f:facet>
                            <f:facet name="input"><p:inputText id="link" value="#{advertisments.link}" style="width:100%"/></f:facet>
                        </p:cellEditor>
                    </p:column>


                    <p:column style="width:100px">
                        <f:facet name="header">#{msgs.activate}</f:facet>
                        <h:commandLink
                            action="#{advertismentsBackingBean.activateAdvertisment(advertisments.id)}"
                            styleClass= "#{advertisments.isActive? 'btn btn-success' : 'btn btn-default'}">
                            <i class="glyphicon glyphicon-ok-circle"></i>
                        </h:commandLink>
                    </p:column>
                    <p:column  headerText="#{msgs.delete}" style="width:100px">

                        <h:commandLink                            
                            action="#{advertismentsBackingBean.deleteAdvertisment(advertisments.id)}">
                            <i class="glyphicon glyphicon-remove"></i>
                        </h:commandLink>
                    </p:column>
                </p:dataTable>
            </h:form>
        </div>
    </div>
</ui:composition>
