<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:body>   
        <div class="container">
            <h2>#{msgs.salesByPublisher}</h2>
            <h:form id="publisherForm" class="form-inline">
                <p:message for="toDate"/>
                <div class="form-group mb-2">
                    <h:outputLabel for="fromDate" class="sr-only" value="from"/> 
                    <h:inputText class="form-control" id="fromDate" value="#{reportBackingBean.fromDate}" a:type="date">  
                    </h:inputText>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <h:outputLabel for="toDate" class="sr-only" value="to"/> 
                    <h:inputText class="form-control" id="toDate" value="#{reportBackingBean.toDate}" a:type="date"
                                 validator="#{reportBackingBean.validateDateRange}">  
                    </h:inputText>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <h:selectOneMenu id="select" value="#{reportBackingBean.name}" required="true" 
                                     requiredMessage="#{msgs.publisher} #{msgs.is} #{msgs.required}">
                        <f:selectItem itemLabel="--- #{msgs.selectPublisher} ---" />
                        <f:selectItems value="#{publishersJpaController.findPublishersEntities()}" var="publisher" itemLabel="#{publisher.name}" itemValue="#{publisher.name}" />
                    </h:selectOneMenu>
                    <p:message for="select"/>
                </div>

                <p:commandButton update=":publisherForm:datatable publisherForm" value="#{msgs.search}" styleClass="btn btn-primary" />
                <p:growl id="growl" showDetail="true"/>
                <h:panelGroup id="datatable">
                    <p:dataTable value="#{reportBackingBean.publisherSale}" 
                                 var="publisher"
                                 paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records">
                        <p:column >
                            <f:facet name="header">#{msgs.publisher}</f:facet>
                                #{publisher.publisherName} 
                        </p:column>
                        <p:column>
                            <f:facet name="header">#{msgs.title}</f:facet>
                                #{publisher.bookTitle}
                        </p:column>
                        <p:column>
                            <f:facet name="header">#{msgs.price}</f:facet>
                            #{publisher.bookPrice} $
                        </p:column>
                        <p:column>
                            <f:facet name="header">#{msgs.datePurchased}</f:facet>
                                #{publisher.datePurchased} 
                        </p:column>
                        <p:columnGroup type="footer">
                            <p:row>
                                <p:column colspan="2" style="text-align:right" footerText="Total:" />
                                <p:column footerText="#{reportBackingBean.publisherSale.stream().map(as->as.bookPrice).sum()} $" />
                                <p:column footerText="" />
                            </p:row>
                        </p:columnGroup>
                    </p:dataTable>
                </h:panelGroup>
            </h:form>
        </div>
    </h:body>
</html>