<!-- This is a content page, specifically the book page, that will be included in the layout page -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:jsf="http://xmlns.jcp.org/jsf"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    <!--dialog for confirmation that review was sent-->
    <b:modal id="reviewSent" title="#{msgs.reviewTitle}" styleClass="modalPseudoClass">
        <p>#{msgs.reviewApproval}</p>
        <f:facet name="footer">
            <b:button value="#{msgs.close}" dismiss="modal"/>
        </f:facet>
    </b:modal>
    <ui:repeat var="aBook" value="#{theBooks.singleBook}" varStatus="status">
        <!--Script tag to run if review has been sent or not-->
        <script jsf:rendered="#{theReviews.canSendReview}" type="text/javascript">
            $(window).on('load', function () {
                $('.modalPseudoClass').modal('show');
            });
            #{theReviews.setCanSendReview(false)}
        </script>
        <div class="maincontainerBookPage">
            <!--Show the book cover, average rating, some info and price with buttons to buy or download-->
            <div class="imagediv">
                <h:graphicImage library="images" name="coverImages/#{aBook.imageUrl}" height="350" width="210" id="bookimage"/>
            </div>

            <div class="descriptiondiv">
                <p id="titleandrelease">
                    <span id="booktitle">#{aBook.title} - </span>
                    <h:outputText id="bookrelease" value="#{aBook.dataPublication}" ><f:convertDateTime pattern="yyyy-MM-dd"/></h:outputText>
                </p>
                <!--Redirected to browse page if user clicks on name of author-->
                <h:form>
                    <p>
                        #{msgs.by} <h:commandLink id="bookauthor" action="#{theBooks.processAuthorSearch(aBook.authorId.name)}">#{aBook.authorId.name}</h:commandLink> (Author)
                    </p>
                </h:form>
                <h:panelGroup layout="block" class="stars" id="averageStars" style="float:left; margin-right: 15px;" rendered="#{theBooks.avgRating ne null}">
                    <a class="ion-ios-star" id="avgReviewstar1" disabled="disabled"></a>
                    <a class="ion-ios-star" id="avgReviewstar2" disabled="disabled"></a>
                    <a class="ion-ios-star" id="avgReviewstar3" disabled="disabled"></a>
                    <a class="ion-ios-star" id="avgReviewstar4" disabled="disabled"></a>
                    <a class="ion-ios-star" id="avgReviewstar5" disabled="disabled"></a>
                    <script type="text/javascript">
                        colorAvgRating(#{theBooks.avgRating});
                    </script>
                </h:panelGroup>

                <span id="bookAvgRating" jsf:rendered="#{theBooks.avgRating ne null}"> | #{theBooks.numOfReviews} #{msgs.review}</span>
                <br/>
                <h:panelGroup style="color:red; margin-left:10px;" rendered="#{theBooks.avgRating ne null}">#{theBooks.avgRating} #{msgs.outOf} 5</h:panelGroup>
                <hr/>
                <p id="bookdescrption">#{aBook.description}</p>
            </div>
            <div class="buybook">
                <fieldset id="buyingInfo">
                    <legend style="border-bottom: none; font-size: 15px; color: grey; padding-left: 5px;">#{msgs.buyingInfo}</legend>
                    <span id="bookprice" jsf:rendered="#{(aBook.salePrice eq aBook.listPrice) and theBooks.sbId eq '' and !shoppingCartBean.bookIsInList(aBook.isbn)}">CDN$ #{aBook.listPrice}</span>
                    <span id="bookprice" jsf:rendered="#{(aBook.salePrice ne aBook.listPrice) and theBooks.sbId eq '' and !shoppingCartBean.bookIsInList(aBook.isbn)}">CDN$ <span style="text-decoration: line-through; color:black;">#{aBook.listPrice}</span> #{aBook.salePrice}</span>
                    
                    <!--To remove the book if it is in shopping cart-->
                    <h:form>
                        <h:commandButton class="infobuybuttons" type="submit" value="#{msgs.removeCart}" rendered="#{shoppingCartBean.bookIsInList(aBook.isbn)}" action="#{shoppingCartBean.remove(aBook.isbn)}"/>
                    </h:form>
                    <!-- This form will update the cookie with the shopping list -->
                    <h:form>
                        <h:commandButton id="cartbutton" class="infobuybuttons" type="submit" value="#{msgs.addToCart}" action="#{shoppingCartBean.add(aBook.isbn)}" rendered="#{theBooks.sbId eq '' and !shoppingCartBean.bookIsInList(aBook.isbn)}"/>
                    </h:form>
                    <br/>

                    <br/>
                    <h:form>
                        <h:commandButton id="buybutton" type="submit" action="#{shoppingCartBean.buyNow(aBook.isbn)}" class="infobuybuttons" value="#{msgs.buyNow}"  rendered="#{theBooks.sbId eq '' and !shoppingCartBean.bookIsInList(aBook.isbn)}" />
                    </h:form>
                    <h:form>
                        <button class="btn btn-secondary btn-lg" jsf:rendered="#{theBooks.sbId ne ''}">
                            <a href="#{request.contextPath}/resources/pdf/aliceInWonderland.pdf" download="aliceInWonderland.pdf">#{msgs.download}</a>
                        </button>
                        <br></br>
                        <h:selectOneMenu rendered="#{theBooks.sbId ne ''}">
                            <f:selectItems value="#{downloads.formats}"/>
                        </h:selectOneMenu>

                    </h:form>

                </fieldset>
            </div>
        </div>

        <div class="otherbooks" style="height:325px;">
            <!--show the six recommended books-->
            <h4>#{msgs.sixRecommendations}</h4>
            <!--Where the cards for recommended books will be-->
            <ui:repeat var="recBook" value="#{theBooks.sixRecommendedBooks}" varStatus="status">
                <h:form>
                    <a jsf:action="#{theBooks.showSelectedBook(recBook,user.userId)}">
                        <div class="card" id="card#{status.index+1}">
                            <h:graphicImage library="images" name="coverImages/#{recBook.imageUrl}" width="62" height="110"/>
                            <h4>#{recBook.title}<br/>by #{recBook.authorId.name}</h4>
                            <span id="priceRecBook" jsf:rendered="#{recBook.salePrice eq recBook.listPrice}">CDN$ <span id="priceRecBookNum">#{recBook.listPrice}</span></span>
                            <span id="priceRecBook" jsf:rendered="#{recBook.salePrice ne recBook.listPrice}">CDN$ <span id="crossListPrice">#{recBook.listPrice}</span><span id="priceRecBookNum"> #{recBook.salePrice}</span></span>
                        </div>
                    </a>
                </h:form>
            </ui:repeat>
            <hr/>
        </div>

        <!--More info about the book-->
        <div class="bookdetails">
            <hr/>
            <h4>#{msgs.bookDetails}</h4>
            <p><span style="font-weight:bold;">#{msgs.numPages}: </span>#{aBook.numberOfPages}</p>
            <p><span style="font-weight:bold;">#{msgs.publisher}: </span>#{aBook.publisherId.name}</p>
            <p><span style="font-weight:bold;">#{msgs.isbn}: </span>#{aBook.isbn}</p>
        </div>

        <!--Review section of the page-->
        <div class="bookreviews">
            <hr/>
            <h4>#{msgs.customerReviews}</h4>
            <div class="reviewtablediv">
                <!--Show all the reviews of the book that have been approved-->
                <h:outputText class="noReviewToDisplay" value="#{msgs.noReview} &#34;#{aBook.title}&#34;" rendered="#{empty theBooks.approvedReviewsOfBook}"/>
                <h:dataTable id="reviewtable" value="#{theBooks.approvedReviewsOfBook}" var="aReview" binding="#{table}" rendered="#{not empty aBook.reviewsList}">
                    <h:column class="reviewCol">
                        <h6>#{aReview.userId.title} #{aReview.userId.lastName}</h6>
                        <div class="stars">
                            <a class="ion-ios-star" id="reviewstar1user#{table.rowIndex+1}" disabled="disabled"></a>
                            <a class="ion-ios-star" id="reviewstar2user#{table.rowIndex+1}" disabled="disabled"></a>
                            <a class="ion-ios-star" id="reviewstar3user#{table.rowIndex+1}" disabled="disabled"></a>
                            <a class="ion-ios-star" id="reviewstar4user#{table.rowIndex+1}" disabled="disabled"></a>
                            <a class="ion-ios-star" id="reviewstar5user#{table.rowIndex+1}" disabled="disabled"></a>
                        </div>
                        <p>#{aReview.date}</p>
                        <p>#{aReview.reviewText}</p>
                        <script type="text/javascript">
                            colorRatings(#{table.rowIndex+1}, #{aReview.rating});
                        </script>
                    </h:column>
                </h:dataTable>
            </div>

            <!--User can write here and it indicates if review is missing info or not-->
            <div class="writereview">
                <p id="validTextarea">#{msgs.lessThan3000}</p>
                <p id="unvalidTextarea">#{msgs.moreThan3000Equal0}</p>
                <p id="missingRating"> #{msgs.noRating}</p>
                <h:form id="writeReviewForm" prependId="false">
                    <textarea placeholder="#{msgs.yourReview}" jsf:value="#{theReviews.textReview}" id="userReview" onkeyup="displayChar()" onchange="displayChar(">
                    </textarea>
                    <div id="starsandbutton">
                        <div id="clientstars" class="stars">
                            <h:outputLink a:href="#!" class="ion-ios-star" a:id="star1" onclick="colorMyReview(1)"></h:outputLink>
                            <h:outputLink a:href="#!" class="ion-ios-star" a:id="star2" onclick="colorMyReview(2)"></h:outputLink>
                            <h:outputLink a:href="#!" class="ion-ios-star" a:id="star3" onclick="colorMyReview(3)"></h:outputLink>
                            <h:outputLink a:href="#!" class="ion-ios-star" a:id="star4" onclick="colorMyReview(4)"></h:outputLink>
                            <h:outputLink a:href="#!" class="ion-ios-star" a:id="star5" onclick="colorMyReview(5)"></h:outputLink>
                        </div>
                        <!--Not using h:inputText because it generates an id, and it brings a lot of mess-->
                        <input type="text" id="ratingNumHidden" jsf:value="#{theReviews.rating}" name="ratingNumHidden" style="visibility:hidden;height:1px;width:1px;float:left;"/>
                        <button id="reviewbutton" type="submit" value="submit" jsf:action="#{theReviews.sendReviewForApproval(aBook.isbn,user.email)}">#{msgs.postReview}</button>
                    </div>
                </h:form>
            </div>
            <div id="clear">
            </div>

        </div>
        <button id="hiddenButton" jsf:action="#{theReviews.setCanSendReview(false)}" onmouseover="onMouseOverButton()" style="visibility:hidden;width:1px;height:1px;"></button>
    </ui:repeat>
</ui:composition>
