<!-- This layout represents the sign up page or the "register" page.-->
<!-- This was made by Franco -->
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:f="http://xmlns.jcp.org/jsf/core">

    <b:container>

        <h:form class="form-signin">
            <h2 class="mb-3">Sign up</h2>
            <div class="row">
                <div class="col-md-5">
                    <h4>Authentication Credentials</h4>
                    <div class="form-group">
                        <label class="control-label" for="email">Email:</label>
                        <h:inputText  value="#{registration.newUser.email}" class="form-control" id="email" required="true" validatorMessage="#{msgs.errorEmail}" requiredMessage="Please input a valid email" >
                            <f:ajax event="blur" render="errorEmail"/>
                        </h:inputText>
                        <h:message id="errorEmail" for="email" styleClass="errorMessage"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="#{msgs.pwd}" class="control-label" for="pwd"/>
                        <h:inputSecret value="#{registration.password}" class="form-control" id="pwd" 
                                       required="true" 
                                       requiredMessage="#{msgs.requiredPassword}" > 
                            <f:validateLength maximum="12"/>
                        </h:inputSecret>
                        <h:message for="pwd" styleClass="errorMessage" id="messagePassword"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel value="#{msgs.pwdConfirm}" class="control-label" for="pwdConfirm"/>
                        <h:inputSecret class="form-control" id="pwdConfirm" required="true" 
                                       value="#{registration.passwordConfirm}"
                                       validator="#{registration.validatePasswordError}"
                                       requiredMessage="#{msgs.requiredPassword}" >
                            <f:validateLength maximum="12"/>
                        </h:inputSecret>
                        <h:message for="pwdConfirm" styleClass="errorMessage" id="messagePasswordConfirm"/>
                    </div>
                </div>
                <div class="col-md-7">
                    <h4>Billing address</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">                
                                <h:outputLabel class="control-label" for="fname" value="#{msgs.fnameReq}"/>
                                <h:inputText value="#{registration.newUser.firstName}" class="form-control" id="fname" title="First Name" required="true" requiredMessage="Please enter your first name">
                                    <f:ajax event="blur" render="errorFname"/>
                                </h:inputText>
                                <h:message id="errorFname" for="fname" styleClass="errorMessage"/>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">                
                                <h:outputLabel class="control-label" for="lname" value="#{msgs.lnameReq}"/>
                                <h:inputText value="#{registration.newUser.lastName}" class="form-control" id="lname" title="Enter Last Name" required="true" requiredMessage="Please enter your last name">
                                    <f:ajax event="blur" render="errorLname"/>
                                </h:inputText>
                                <h:message id="errorLname" for="lname" styleClass="errorMessage"/>
                            </div>
                        </div>
                    </div>
                    <label class="control-label" for="title">Title:</label>
                    <br></br>
                    <h:selectOneMenu class="d-block w-100" id="title" value="#{registration.newUser.title}" required="false">
                        <f:selectItem itemLabel="Mr" itemValue="Mr"/>
                        <f:selectItem itemLabel="Ms" itemValue="Ms"/>
                        <f:selectItem itemLabel="Mrs" itemValue="Mrs"/>
                        <f:selectItem itemLabel="Dr" itemValue="Dr"/>
                        <f:selectItem itemLabel="Java Champion" itemValue="Java Champion"/>
                    </h:selectOneMenu>
                    <h:message for="title" styleClass="errorMessage"/>
                    <div class="form-group">
                        <h:outputLabel class="control-label" for="phone" value="#{msgs.phoneReq}"/>
                        <h:inputText  value="#{registration.newUser.homeTelephoe}" class="form-control" id="phone" required="true" requiredMessage="Please input a valid phone number">
                            <f:ajax event="blur" render="errorTel"/>
                        </h:inputText>
                        <h:message id="errorTel" for="phone" styleClass="errorMessage"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel class="control-label" for="cellPhone" value="#{msgs.cellPhoneReq}"/>
                        <h:inputText  value="#{registration.newUser.cellphone}" class="form-control" id="cellPhone" required="false">
                            <f:ajax event="blur" render="cellPhoneError"/>
                        </h:inputText>
                        <h:message id="cellPhoneError" for="cellPhone" styleClass="errorMessage"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel class="control-label" for="add1" value="#{msgs.add1}"/>
                        <h:inputText  value="#{registration.newUser.address1}" class="form-control" id="add1" required="true" requiredMessage="Please input a valid address">
                            <f:ajax event="blur" render="addError"/>
                        </h:inputText>
                        <h:message id="addError" for="add1" styleClass="errorMessage"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel class="control-label" for="add2" value="#{msgs.add2}"/>
                        <h:inputText  value="#{registration.newUser.address2}" class="form-control" id="add2" required="false" >
                            <f:ajax event="blur" render="add2Error"/>
                        </h:inputText>
                        <h:message id="add2Error" for="add2" styleClass="errorMessage"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel class="control-label" for="compName" value="#{msgs.compName}"/>
                        <h:inputText  value="#{registration.newUser.companyName}" class="form-control" id="compName" required="false" >
                            <f:ajax event="blur" render="compNameError"/>
                        </h:inputText>
                        <h:message for="compNameError" styleClass="errorMessage"/>
                    </div>
                    <div class="form-group">
                        <h:outputLabel class="control-label" for="city" value="#{msgs.cityReq}"/>
                        <h:inputText  value="#{registration.newUser.city}" class="form-control" id="city" required="true" requiredMessage="Please input a valid city name" >
                            <f:ajax event="blur" render="cityError"/>
                        </h:inputText>
                        <h:message id="cityError" for="city" styleClass="errorMessage"/>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-7">
                                <h:outputLabel class="control-label" for="province" value="#{msgs.provinceReq}"/>
                                <br></br>
                                <h:selectOneMenu class="form-control" id="province" value="#{registration.newUser.provinceName}" required="true">
                                    <f:selectItem itemLabel="Alberta" itemValue="Alberta"/>
                                    <f:selectItem itemLabel="British Columbia" itemValue="British Columbia"/>
                                    <f:selectItem itemLabel="Manitoba" itemValue="Manitoba"/>
                                    <f:selectItem itemLabel="New Brunswick" itemValue="New Brunswick"/>
                                    <f:selectItem itemLabel="Newfoundland and Labrador" itemValue="Newfoundland and Labrador"/>
                                    <f:selectItem itemLabel="Nova Scotia" itemValue="Nova Scotia"/>
                                    <f:selectItem itemLabel="Nunavut" itemValue="Nunavut"/>
                                    <f:selectItem itemLabel="Ontario" itemValue="Ontario"/>
                                    <f:selectItem itemLabel="Prince Edward Island" itemValue="Prince Edward Island"/>
                                    <f:selectItem itemLabel="Quebec" itemValue="Quebec"/>
                                    <f:selectItem itemLabel="Saskatchewan" itemValue="Saskatchewan"/>
                                    <f:selectItem itemLabel="Yukon" itemValue="Yukon"/>
                                </h:selectOneMenu>
                                <h:message for="province" styleClass="errorMessage"/>
                            </div>
                            <div class="col-md-5">
                                
                                <h:outputLabel class="control-label" for="postalCode" value="#{msgs.postalCode}"/>
                                <h:inputText value="#{registration.newUser.postalCode}" class="form-control" id="postalCode" required="true">
                                    <f:ajax event="blur" render="postalCodeError"/>
                                </h:inputText>
                                <h:message id="postalCodeError" for="postalCode" styleClass="errorMessage"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h:commandButton value="#{msgs.submit}"  class="btn btn-default" action="#{registration.register(theReviews.rating,theReviews.textReview)}" />
        </h:form>
    </b:container>
</ui:composition>
